* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #F6F6F6;
}

li {
    list-style: none;
    display: inline-block;
}

a {
    text-decoration: none;
}

.dichvu-root{
    display: block;
    position: fixed;
    top: 30px;
    left: 280px;
    height: 100%;
    margin-left: 30px;
    width: 80%;
    overflow-y: scroll;
}
